@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Jockey+One&display=swap');

:root{
    --pozadie:#EAE2B7;
    --okno:#DAD09B;
    --menu:#FFB640;
    --tlacidlo:#FFB640; 
    --zvyraznene:#9A031E;
    --pismo:#000000;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:var(--pozadie);
    font-family:'Poppins', sans-serif;
    color:var(--pismo);
}

.menu{
    background:var(--menu);
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:15px 5px;
}

.menu a{
    text-decoration:none;
    color:black;
    font-family:'Bungee', cursive;
    font-size:12px;
}

.about-section{
    text-align:center;
    padding:30px 20px;
}

.about-section h1{
    font-family:'Bungee', cursive;
    font-size:42px;
    margin-bottom:25px;
}

.profile-img{
    width:170px;
    height:auto;
    object-fit:cover;
    margin-bottom:25px;
}

.text-box{
    background:var(--okno);
    padding:25px 20px;
    border-radius:20px;
    margin-bottom:25px;
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

.text-box p{
    font-size:15px;
    font-weight:700;
    line-height:1.8;
}

.skills{
    padding:10px 20px 40px;
    text-align:center;
}

.skills h2{
    color:var(--zvyraznene);
    font-family:'Bungee', cursive;
    font-size:38px;
    margin-bottom:25px;
}

.skill{
    margin-bottom:20px;
}

.skill-name{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:8px;

    font-family:'Bungee', cursive;
    color:var(--zvyraznene);
    font-size:18px;
}

.progress{
    width:100%;
    height:18px;
    background:#3a3328;
    border-radius:20px;
    overflow:hidden;
}

.fill{
    height:100%;
    background:#1e1b18;
}

.fill1{
    width:45%;
}

.fill2{
    width:70%;
}

.fill3{
    width:75%;
}

.bottom-img{
    margin-top:30px;
}